body  {
  background-image: url("images/paper.JPG");
}

nav {
  background-color: rgb(50, 39, 32);
}

.nav-link {
  color:blanchedalmond;
  text-align: center;
}

nav ul li:hover a {
  color: rgb(249, 255, 207) !important;
}

.hero {
  background-color: rgb(95, 76, 63);
  height: 450px;
  align-items: center;
}

.hero h1 {
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 8px;
  color:blanchedalmond;
  margin-left: 250px;
}

.hero h2 {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 5px;
  color:rgb(158, 145, 125);
  margin-left: 250px;
}

.projects {
  font-weight: 500;
  font-style: bolder;
  color: black;
}

.project-text {
  background-color: rgba(95, 76, 63, .5);
}

.rectangles-img {
  display: flex;
  width: 8em !important;
  height: 6em !important;
  border-radius: 35px;
  margin-left: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}